<% @homelink = "/"%>
<header class="affix-top" data-spy="affix" data-offset-top="45">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-2 logo">
				<div class="logo-image">
          <a href="<%= @homelink %>" title="La Dulce Vida">
	          <img class="logo-img" src="/images/la-dulce-vida-logo.png" alt="La Dulce Vida">
            <span>La Dulce Vida</span>
          </a>
        </div>
      </div>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right mainnav">
          <% @limit = I18n.locale == :es ? 4 : 3 %>
          <% sitemap.resources.select{|p| p.metadata[:options][:locale] == I18n.locale and p.url.split('/').count < @limit and p.url != '/es/' and p.url != '/' and not p.data.excluded_from_navigation and not p.url.include?('/test/') }.sort_by {|p| p.data.weight}.map{ |p| p.url}.uniq.each do |page| %>

            <% children = sitemap.resources.select{|p| p.url.include?(page) and p.metadata[:options][:locale] == I18n.locale }.map{ |p| p.url}.uniq %>

            <li <%= "class='dropdown'" if children.count > 1 %>>
              <a href="<%= page %>" class="nav-item">
                <%= navigation_item_title(page) %><% if children.count > 1 %> <i class="fa fa-chevron-down"></i><% end %>
              </a>

              <% if children.count > 1 %>
                <ul class="dropdown-menu">
                  <% children.select{|p| p.split('/').count > @limit - 1 }.each do |child| %>
                    <li><%= link_to navigation_item_title(child), child %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div>
</header>
