---
layout: test
---
<ul>
  <% @limit = I18n.locale == :es ? 4 : 3 %>
  <% sitemap.resources.select{|p| p.metadata[:options][:locale] == I18n.locale and p.url.split('/').count < @limit and p.url != '/es/' and p.url != '/' and not p.url.include?('/test/') }.sort_by {|p| p.data.weight}.map{ |p| p.url}.uniq.each do |page| %>
    <li>
      <%= navigation_item_title(page) %> - <%= page %>
      <% children = sitemap.resources.select{|p| p.url.include?(page) and p.metadata[:options][:locale] == I18n.locale }.map{ |p| p.url}.uniq %>

      <% if children.count > 1 %>
        <ul>
          <% children.select{|p| p.split('/').count > @limit - 1 }.each do |child| %>
            <li>
              <%= navigation_item_title(child) %> - <%= child %> |
              <% @translated_locale = (I18n.locale == :en) ? :es : :en %>
              <% @translated_locale_prefix = (I18n.locale == :en) ? "/es/" : "/" %>
              <% translatable_path = child.split('/').reject{|c| c.empty? or c == I18n.locale.to_s}.collect{|c| c = t("paths.#{t(:paths).select{|k,v| v == c}.keys[0].to_s}", :locale => @translated_locale)}.insert('es') %>
              <%= @translated_locale_prefix + translatable_path.join("/") %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
</ul>
